*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-image:url(Sesam.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
  
font-family: sans-serif;
}
.menu-bar{
    background-color: rgba(100, 10,20);
    text-align: center;
}
 .menu-bar ul {
    display:inline-flex;
list-style:none;
color: white;
}
.menu-bar ul li {
    padding:15px ;
    width: 120px;
margin: 15px;
}

 a{
    text-decoration: none;
    color: white;
}
.menu-bar ul li:hover{
    color: black;
    background-color: white;
    border-radius: 12px ;
    box-shadow: 2px 1px 2px 2px grey ;
}